@mixin button-color($name, $color_code, $svg_fill) {
  .button-#{$name} {
    .form-item-selectedfrequency {
      .radios {
        background: rgba($color_code, 0.15);
        color: $color_code;

        input:checked ~ .radios__indicator {
          background: $color_code;
          color: #ffffff;
        }
        input+label {
          color: $color_code !important;
        }
        input:checked+label {
          color: #ffffff !important;
        }
        input#id-0:checked ~ .at-radio-label-4 {
          color: $color_code !important;
        }
        input#id-0:checked ~ .radios__indicator {
          background: $color_code;
        }
        input#id-1:checked ~ .radios__indicator {
          background: $color_code;
        }
      }
    }




    .form-item-selectamount {
      .at-radios {
        .label-amount {
          color: $color_code;

          & input[type="radio"]:checked+a,
          &:hover>a {
            background-color: $color_code;
            border-color: $color_code;
          }
          &:hover, &.active {
            color: white;
          }
        }
        .label-otheramount.active input[type="number"] {
          background-color: $color_code;
          border-color: $color_code;        
        }
      }
    }
    .updateMyProfileSection input:checked ~ .checkmark,
    .at-check input:checked ~ .checkmark {
      background-color: $color_code;
      border-color: $color_code;
    }
    .radio-description {
      color: $color_code;
      &::before {
        color: $color_code;
        content: url("data:image/svg+xml;charset=UTF-8, <svg width='12' height='30' viewBox='0 0 12 30' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M4.2 5.9038C1.86724 8.53428 0.444421 11.9797 0.444421 15.761C0.444422 21.789 4.04311 26.9766 9.22659 29.357C10.1163 29.7655 11.123 29.2508 11.4325 28.322C11.7453 27.3834 11.2249 26.3814 10.3426 25.9339C6.60875 24.0396 4.05558 20.1991 4.05558 15.761C4.05558 12.9661 5.09558 10.4285 6.77833 8.4485L10.2966 11.9306C10.928 12.5556 12 12.1083 12 11.2199L12 0.750003L1.42953 0.750004C0.536472 0.750004 0.0912864 1.8316 0.725585 2.46026L4.2 5.9038Z' fill='%23#{$svg_fill}'/></svg>");
      }
    }
    .at-credit-card-button-wrapper,.at-eft-button-wrapper {
      .at-btn-radio {
        background: $color_code !important;
      }
    }
    .prevNext {
      .submitStep, .nextStep {
        background: $color_code !important;
      }
    }
    .take-action {
      background: $color_code !important;
    }
    input[type="submit"] {
      background: $color_code !important;  
    }
  }
}

@include button-color("teal", $teal, '00A3AB');
@include button-color("pink", $pink, 'EE2B77');
@include button-color("black", $black, '002634');
@include button-color("blue", $blue, '0072BC');
@include button-color("purple", $purple, '643695');
@include button-color("ltgray", $ltgray, '8D939E');
@include button-color("dkgray", $dkgray, '555F6B');
@include button-color("brown", $brown, '6A3A10');