@import "normalize";
@import "fonts";

html, 
body {
    height: 100%;
}

body {
  min-height: 100%;
}

.container {
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 500px;
  padding: 42px 70px;
  font-family: 'caldinaregular';
  font-weight: 400;
  line-height: 24px;
  z-index: 100;
  background-color: #FFFFFF;
  background-image: url("data:image/svg+xml;charset=UTF-8, <svg width='5' height='762' viewBox='0 0 5 762' fill='none' xmlns='http://www.w3.org/2000/svg'><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -257.058 303.476)' fill='white'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -287.804 336.15)' fill='%232DC3E9'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -318.548 368.824)' fill='%236A3A10'/><rect width='44.8646' height='528.317' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -349.293 401.498)' fill='%23402611'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -226.312 270.802)' fill='%23F490B3'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -195.567 238.129)' fill='%23EE2B77'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -164.823 205.455)' fill='%23F99D25'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -134.078 172.782)' fill='%23FFD200'/><path d='M-103.333 140.108L-72.5879 107.434L257.702 458.443L226.957 491.116L-103.333 140.108Z' fill='%2388C540'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -72.5869 107.434)' fill='%2300A3AB'/><rect width='44.8646' height='481.974' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -41.8428 74.7606)' fill='%230072BC'/><rect width='44.8646' height='517.725' transform='matrix(0.685287 -0.728273 0.685287 0.728273 -35.5967 16.0507)' fill='%23643695'/></svg>");
  background-repeat: repeat-y;
  background-position: right top;
}

.bg-image {
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  display: flex;
  width: calc(100vw - 630px);
  background: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.logo {
  width: 175px;
}

h1 {
  font-size: 54px;
  line-height: 54px;
}

.accordions {
  width: 100%;

  .accordion {
    position: relative;
    background: #FFFFFF;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    border: 0;
    outline: none;
    transition: background-color 0.2s ease-in-out;
  
    background-image: linear-gradient(to right, #000000 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 4px 1px;
    background-repeat: repeat-x;
  
    &::after {
      position: absolute;
      right: 20px;
      content: url("data:image/svg+xml;charset=UTF-8, <svg xmlns='http://www.w3.org/2000/svg' width='10' height='6' fill='none' viewBox='0 0 10 6'><path fill='%23002634' d='M5.2 6l4.548-4.536c.336-.335.336-.878 0-1.213-.336-.335-.88-.335-1.216 0L5.2 3.574 1.868.251c-.336-.335-.88-.335-1.216 0-.336.335-.336.878 0 1.213L5.2 6z'/></svg>");
    }
  }
  
  .active, .accordion:hover {
    background-color: #E0F4F5;
    transition: background-color 0.2s ease-in-out;
  }
  
  .active {
    &::after {
      position: absolute;
      right: 20px;
      content: url("data:image/svg+xml;charset=UTF-8, <svg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M5.1999 -8.39259e-07L0.651743 4.53607C0.315953 4.87097 0.315958 5.41395 0.651753 5.74884C0.987541 6.08372 1.53195 6.08372 1.86773 5.74883L5.1999 2.42551L8.53208 5.74883C8.86786 6.08372 9.41227 6.08372 9.74805 5.74884C10.0839 5.41395 10.0839 4.87097 9.74806 4.53607L5.1999 -8.39259e-07Z' fill='%23002634'/></svg>");
    }
  }
  
  .panel {
    padding: 0 18px;
    background-color: #E0F4F5;
    display: none;
    overflow: hidden;
  }

}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

// Fieldset .ContributionInformation
@import "_contributionInformation";

// Fieldset .TributeGift
@import "_tributeGift";